html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}


.border {
    border: 2px solid #000;
}

.border-left {
    border-left: 2px solid #000
}

.border-right {
    border-right: 2px solid #000
}

.border-top {
    border-top: 2px solid #000
}

.border-bottom {
    border-bottom: 2px solid #000
}

.bg {
    font-weight: 700;
    background: #c0c0c0;
}

td {
    padding: 2px;
    font-size: 14px
}

.w-50 {
    width: 50%
}

.text-center {
    text-align: center
}

.mt-2 {
    margin-top: 1rem
}

.border-td td {
    border: 2px solid #000;
}

.title {
    margin: 5px 0px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.icon {
    display: flex;
    align-items: start;
}

    .icon img {
        width: 20px;
        height: 20px;
        padding: 5px;
    }

.flex-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.col-7 {
    width: 60%
}

.col-5 {
    width: 40%
}

.img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .img-flex img {
        height: 70px
    }

    .img-flex span {
        font-weight: 500;
        margin-left: 10px;
    }

.bank-logo {
    height: 30px
}